@model SMS.Web.Models.Student.CreateViewModel
@{
    ViewBag.Title = "Create";
}
@section Title{
学生管理
}
@section SiteMap{
学生管理 &gt;&gt; 添加学生
}
@section SitePageName{
添加新学生
}
@section SiteHead{
    <script type="text/javascript">
      

    </script>
}
<div class="context">
    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { id = "CreateForm" }))
    {
        <fieldset class="form-layout twoCol">
            <div class="required">
                <label for="Account">
                    @FCSSResource.Account：</label>
                @Html.TextBox("Account", null, new { onkeyup = Html.Raw("value=value.replace(/[\\ *。，,&\\^\\<\\>\\\\/\\!#$%%()\\?\\{\\}|~]/,'')"), onpaste = Html.Raw("value=value.replace(/[\\ *。，,&\\^\\<\\>\\\\/\\!#$%%()\\?\\{\\}|~]/,'')") })
            </div>
            <div class="required">
                <label for="Name">
                    姓名：</label>
                @Html.TextBox("FullName", null)
            </div>
            <div>
                <label for="Email">
                    Email：</label>
                @Html.TextBox("Email", null)
            </div>
            <div>
                <label for="PhoneNo">
                    @FCSSResource.TeletPhone：</label>
                @Html.TextBox("PhoneNo", null)
            </div>
            <div class="required">
                <label for="Password">
                    @FCSSResource.Password：</label>
                (@FCSSResource.DefaultPassword)3880
            </div>
            <div class="required multiRadio">
                <label for="Gender">
                    @FCSSResource.Gender：</label>
                @Html.MultiRadioButton("Gender", Model.Genders)
            </div>
            <div class="custom">
                <label for="ClassId">
                    班级：</label>
                @Html.DropDownList("ClassId", Model.Classes, "--请选择--")
            </div>
            <div class="custom">
                <label for="Remark" style="line-height: 100px">
                    @FCSSResource.Remark：</label>
                @Html.TextArea("Remark", new { @style = "height:96px;width:600px" })
            </div>
            <div class="buttonRow">
                <input type="submit" value="@FCSSResource.Save" />
                <input class="btnContinueCreate" type="button" value="@FCSSResource.ContinueAdd" />
                @Html.LinkButton(FCSSResource.Return, Url.Action("Index", "Student"))
            </div>
        </fieldset>    
    }
</div>
