@model SMS.Web.Models.Classmate.IndexViewModel
@section Title{
同学录
}
@section SiteHead{
}
@section SiteMap{
&gt;&gt; 同学录
}
@section SitePageName{
同学录
}
<div class="context">
    @if (Model.Classmates.Count == 0)
    {
        @Html.NoRecord()
    }
    else
    {
        <table border="0px" bordercolor="#eaeaea" class="dataTable">
            <tr>
                <th style="width: 5%">
                    学号
                </th>
                <th style="width: 10%">
                    姓名
                </th>
                <th style="width: 10%">
                    性别
                </th>
                <th>
                    Email
                </th>
            </tr>
            @foreach (var item in Model.Classmates)
            {
                <tr>
                    <td>
                        @item.No
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @I18NUtils.Text(item.Gender)
                    </td>
                    <td>
                        @item.Email
                    </td>
                </tr>
            }
        </table>
    }
</div>
