@model SMS.Web.Models.ClassLesson.IndexViewModel
@section Title{
课表
}
@section SiteHead{
}
@section SiteMap{
课表
}
@section SitePageName{
课表
}
<div class="context">
    @if (Model.ClassLessons.Count == 0)
    {
        @Html.NoRecord()
    }
    else
    {
        <table border="0px" bordercolor="#eaeaea" class="dataTable">
            @{
        int count = 5; 
            }
            @for (int i = 0; i < Model.ClassLessons.Count; i = i + count)
            {
                int start = i;
                <tr align="center">
                    @*   <td style="width: 100px">
                        序号
                    </td>*@
                    @for (int j = 1; j <= count; j++)
                    {
                        <td>
                            @if (i + j <= Model.ClassLessons.Count)
                            {
                                
                                @String.Format("第 {0} 节", i + j)
                            }
                        </td>
                        
                    }
                </tr>
                <tr align="center">
                    @*<td>
                        课程
                    </td>*@
                    @for (int j = 0; j < count; j++)
                    {
                       
                        
                        <td>
                            @if (start + j < Model.ClassLessons.Count)
                            {
                                string color = Model.ClassLessons[start + j].TakeClassDate > DateTime.Now ? "Green" : "Red";
                                
                                <span style="color:@color">
                                    @Model.ClassLessons[start + j].Name
                                    <br />
                                    @Model.ClassLessons[start + j].TakeClassDate.ToString("yyyy年MM月dd日 ddd")
                                </span> 
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td colspan="@count">
                        &nbsp;
                    </td>
                </tr>
            }
        </table>
    }
</div>
